{% extends 'base.html' %}

{% block content %}
<h1>Tareas Pendientes:  {{tareas | length}} </h1>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <ul class="list-group">
                {% for tarea in tareas %}
                <li class="list-group-item">
                   
                        {% if tarea.importante %}
                        <h2 style="color: red;">{{tarea.titulo}}</h2>
                        {% else %}
                        <h2>{{tarea.titulo}}</h2>
                        {% endif %}
                        <p>{{tarea.descripcion}}</p>
                        <p>{{tarea.user.username}}</p>
                        <a href="{% url 'detalletarea' tarea.id %}">Detalle</a>
                        
                        <hr>
            
                  
                </li>
               
                {% endfor %}
            
            </ul>

        </div>
    </div>
</div>

{% endblock%}